.card_body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 230, 245);
    min-height: 50px;
    width: 100%;
}

.card_body1 {
    background-color: rgb(9, 245, 135);
}